# Ignore everything at root level except this file and the project folder
/*
!/.gitignore
!/QuranCenter/

# Ignore everything in QuranCenter except QuranCenterApp and Database
/QuranCenter/*
!/QuranCenter/QuranCenterApp/
!/QuranCenter/Database/

# Ignore build artifacts inside the project
QuranCenter/QuranCenterApp/bin/
QuranCenter/QuranCenterApp/obj/
QuranCenter/QuranCenterApp/.vs/
QuranCenter/QuranCenterApp/appsettings.Development.json
